.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #eb7246;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header h4 {
  margin: 0;
  color: white;
  font-weight: bolder;
}

.content {
  padding: 1rem;
  padding-bottom: 0;
}

.modal-btn {
  background-color: #eb7246;
  border: none;
  color: white;
  align-self: flex-end;
}

.modal-btn:hover {
  color: black;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
